body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Blanco poco oscuro */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    display: flex; /* Ocultar el texto del título ya que es una imagen */
}

.title-image {
    margin: 40px 0;
    width: 300px; /* Ajusta el tamaño de la imagen del título según sea necesario */
}

.category {
    max-width: 1200px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.category img {
    width: 100%;
    height: auto;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.category img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
