body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: gold;
}

header {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    text-align: center;
    padding: 50px 20px;
    background: url('barberia.jpg') center/cover no-repeat;
}

#servicios {
    text-align: center;
    padding: 40px 20px;
}

.servicio {
    background: #222;
    padding: 15px;
    margin: 10px auto;
    width: 50%;
    border-radius: 10px;
}

#contacto {
    text-align: center;
    padding: 40px;
}

form input, form textarea {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background: #222;
    border: 1px solid gold;
    color: gold;
}

button {
    background: gold;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
}
#boumper {
color: red;
}